.dispNone{
	display:none;
}

.demo-header-image {
    background-image: url('../images/san-diego.jpg');
    no-repeat: true;
    width: 100%;
    margin-bottom: 30px;
}

.demo-header {
    background-size: cover;
    background-color: #FF8F5E;
    background-position: center top;
    margin-top: 0px;
    min-height: 800px;
}


.home_logo {
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    position: relative;
    left: 0px;
    top: 25px;
    background-size: 60px 60px;
    height: 62px;
    

}

/* style="background-image:url('https://a0.muscache.com/ac/pictures/7bff51c1-3c35-47a5-a86c-5ea75ab6be6c.jpg?interpolation=lanczos-none&size=large&output-format=jpg&output-quality=70');" */